.page-container .tagline p {
  opacity: 70%;
}

.page-container {
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-content{
  padding: 6em 7.5em;
  box-sizing: border-box;
  display: flex;
  /* justify-content: space-between; */
  gap: 3em;
  align-items: center;
  width: 100%;
}

/* the container for the first page */
.trade-page-container {
  background-color: #16182D;
  min-height: 576px;
}

.account-types-container {
  flex-direction: column;
}

.cards-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 36px;
  gap: 3em;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.tagline {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.title-light{
  color: white;
}

/* white plaintext */
.text-light {
  color: white;
}

.subtitle-light {
  color: #11ECA4;
}

.text-wrapper {
  margin-right: 46px;
}

.button-container {
  display: flex;
  flex-direction: column;
  max-width: 164px;
  width: 100%;
}

@media (max-width: 1328px) {
  .cards-section {
    flex-direction: column;
  }
}

@media (max-width: 1120px) {
  .page-content {
    padding: 3em 1.5em;
  }

  .trade-page-container {
    flex-direction: column-reverse;
    align-items: start;
  }

  .chart-page-container {
    flex-direction: column;
    align-items: start;
  }

  .account-types-container {
    text-align: center;
  }

  .image {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 3em;
    height: auto;
  }

  .image img {
    width: 100%;
    height: auto;
  }

  .info {
    width: 100%;
  }

  .tagline {
    max-width: 100%;
  }
  .text-wrapper {
    width: 100%;
  }
  .text-light {
    min-width: 100%;
  }

  .button-container {
    max-width: 100%;
  }
}