.accordion {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 48px;
    justify-content: start;
}

.accordion-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 576px;
}

.accordion-header {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item-image {
    height: 100%;
}

/* image defaults to hidden */
.item-content .item-image {
    display: none;
}

.item-content span {
    display: flex;
    align-items: center;
    gap: 16px; 
}

.item-content p {
    opacity: 100%;
    padding:0.25em 50px 0 32px;
    max-height: 0%;
}

.item-title.inactive {
    transition: color 150ms ease-in;
    &:hover{
        color: #3E51DC;
    }
}

@media (max-width: 1120px) {
    .item-content .item-image {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .item-image img {
        width: 100%;
        height: auto;
    }

    .item-image-base {
        display : none;
    }

    .accordion-content {
        max-width: 100%;
    }
}