header {
  display: flex;
}

.storybook-header {
  width: 100%;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262A52;
  box-sizing: border-box;
  padding:1em 7.5em;
  width: 100%;
  border: none;
}

.dropdown-container {
  display: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #16182D;
  padding: 0 1.5em;
}

.storybook-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 1.5em;
  border: none;
}

.storybook-links a {
  color: white;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  transition: 100ms ease-in;
  &:hover {
    color: #3E51DC;
  }
}

.storybook-button-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.75em;
}

.storybook-borger {
  display: none;
}

@media (max-width: 1120px) {
  .storybook-header.mobile {
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
  }
  .header-container {
    padding:1em 1.5em;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }

  .storybook-links {
    display: none;
  }

  .storybook-button-wrapper {
    display: none;
  }

  .dropdown-container.mobile {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.75em;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
  }

  .storybook-links.mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
    margin: auto 0;
    padding: 4.5em 0;
  }

  .storybook-links.mobile li{
    border-bottom: solid 1px white;
    box-sizing: border-box;
    padding: 30px 0;
    width: 100%;
    text-align: center;
  }

  .storybook-button-wrapper.mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
  }

  .storybook-borger {
    display: flex;
    background: transparent;
    border: none;
    margin-left: auto;
  }
}

@media (max-height: 700px) {
  .dropdown-container.mobile {
    flex: 1;
  }
  .storybook-links.mobile {
    /* padding: 1.5em 0; */
    margin: 0;
  }

  .storybook-links.mobile li{
    padding: 20px 0;
  }
  
  .dropdown-container.mobile {
    /* overflow-y: scroll; */
  }
}